.movies-card-list {
  margin: 80px 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 82px;
}

.movies-card-list__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  justify-items: center;
  gap: 31px 24px;
}

.movies-card-list__empty-title {
  text-align: center;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.movies-card-list__more-films {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
}

.movies-card-list__button {
  margin: 0;
  padding: 11px 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  background: #2F2F2F;
  border: none;
  cursor: pointer;
}

.movies-card-list__more-films_ended {
  display: none;
}

@media screen and (max-width: 1024px) {
  .movies-card-list__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 30px;
  }
}

@media screen and (max-width: 700px) {
  .movies-card-list {
    margin: 50px 0;
    gap: 81px;
    margin: 50px 0 80px;
    min-height: 579px;
  }

  .movies-card-list__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 17px;
  }
}
