.movies {
    display: flex;
    flex-direction: column;
    margin: 0 70px;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .movies {
        margin: 0 30px;
    }
}

@media screen and (max-width: 540px) {
    .movies {
        margin: 0 10px;
    }
}