.landing-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 74px;
  background-color: #073042;
}

.landing-header__logo {
  margin: 0 0 0 70px;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
  background-image: url(../../images/logo.svg);
  min-width: 38px;
  min-height: 38px;
}

.landing-header__navigation {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0 70px 0 0;
}

.landing-header__link {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
}

.landing-header__link_login {
  color: black;
  background-color: #3DDC84;
  margin: 0;
  padding: 8px 20px;
  box-sizing: border-box;
  border-radius: 3px;
}

@media screen and (max-width: 1024px) {
  .landing-header__logo {
    margin: 0 0 0 30px;
  }

  .landing-header__navigation {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .landing-header__logo {
    margin: 0 0 0 15px;
  }

  .landing-header__navigation {
    margin: 0 15px 0 0;
  }

  .landing-header__link {
    font-size: 10px;
  }

  .landing-header__link_login {
    padding: 7px 12px;
    box-sizing: border-box;
    border-radius: 3px;
  }

  .landing-header__navigation {
    gap: 15px;
  }
}
