.portfolio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 0 107px;
    padding: 0;
}

.portfolio__links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 70px 0;
    gap: 20px;
}

.portfolio__link {
    margin: 0;
    padding: 0 0 9px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1.2px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #424242;
}

.portfolio__link:last-of-type {
    border: none;
}

.portfolio__arrow {
    margin: 0;
    padding: 0;
    font-size: 31px;
    line-height: 60px;
}

@media screen and (max-width: 1024px) {
    .portfolio {
        margin: 0 0 70px;
    }

    .portfolio__links {
        margin: 0 50px 0;
        gap: 21px;
    }
    
    .portfolio__link {
        padding: 0 0 11px 0;
        font-size: 28px;
        letter-spacing: -1.12px;
    }

    .portfolio__arrow {
        font-size: 29px;
        line-height: 58px;
    }
}

@media screen and (max-width: 540px) {
    .portfolio {
        margin: 0 0 54px;
    }

    .portfolio__links {
        margin: 0 14px 0;
        gap: 22px;
    }
    
    .portfolio__link {
        padding: 0 0 17px 0;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__arrow {
        font-size: 19px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }
}