.card-me {
  display: flex;
  margin: 66px 70px 100px;
  padding: 0;
  gap: 50px;
  justify-content: space-between;
}

.card-me__info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.card-me__title {
  margin: 0 0 18px 0;
  padding: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
  color: white;
}

.card-me__subtitle {
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: white;
}

.card-me__description {
  max-width: 595px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: white;
}

.card-me__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: white;
  margin: auto 0 0;
  text-decoration: none;
}

.card-me__image-wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 270px;
  min-height: 327px;
}

.card-me__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .card-me {
    margin: 66px 50px 90px;
  }

  .card-me__title {
    margin: 0 0 16px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .card-me__subtitle {
    margin: 0 0 20px 0;
    font-size: 12px;
    line-height: 18px;
  }

  .card-me__description {
    max-width: 364px;
    font-size: 12px;
    line-height: 18px;
  }

  .card-me__link {
    margin: auto 0 2px;
  }

  .card-me__image-wrapper {
    max-width: 255px;
    min-height: 307px;
  }
}

@media screen and (max-width: 650px) {
  .card-me {
    gap: 15px;
  }

  .card-me__description {
    min-width: 220px;
  }

  .card-me__link {
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 540px) {
  .card-me {
    margin: 60px 14px 68px;
    flex-direction: column-reverse;
    gap: 35px;
    align-items: center;
  }

  .card-me__title {
    margin: 0 0 18px 0;
    font-size: 30px;
    line-height: 40px;
  }

  .card-me__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .card-me__description {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
  }

  .card-me__image-wrapper {
    max-width: 100%;
    min-height: 352px;
  }

  .card-me__image {
    max-width: 292px;
    min-height: 352px;
  }

  .card-me__link {
    margin: 40px 0 0;
  }
}
