.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 43px 0 0;
    height: 75vh;
    flex-grow: 1;
}

.register__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 14px;
    color: #4285F4;
}

.register__span {
    color: #8B8B8B;
}

@media screen and (max-width: 1024px) {
    .register {
        height: 67vh;
    }
}

@media screen and (max-width: 540px) {
    .register {
        margin: 0;
        height: 67.5vh;
    }
    .register__link {
        font-size: 12px;
        letter-spacing: 0.1px;
    }
}