.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 43px 0 0;
  height: 75vh;
  flex-grow: 1;
}

.login__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 14px;
  color: #4285F4;
}

.login__span {
  color: #8B8B8B;
}

@media screen and (max-width: 1024px) {
  .login {
    height: 67vh;
  }
}

@media screen and (max-width: 540px) {
  .login {
    margin: 0;
    height: 67.5vh;
  }

  .login__link {
    font-size: 12px;
    letter-spacing: 0.1px;
  }
}
